html{
	font-family: 'Times New Roman', Times, serif
}

body{
	margin: 0;
	background-color: white;
	color: black;
}

a{
	color: black;
}

h2{
	text-align: center;
}


.cabecalho{
	height: 10vh;
	background: #DFF1F5;
}

.cabecalho table{
	width: 100%;
	height: 100%;
}

.cabecalho a{
	border-bottom: 0px;
	height: 10vh;
}

.nome{
	font-size: 45px;
	font-weight: bold;
	padding: 0px  0px  0px 15px;
	color:#000080;
	text-decoration: none;
}

.blogin{
	height: 30px;
	width: 50px;
	color: black;
	border-radius: 10%;
	text-align: center;
	background-color: white;
	border: 2px solid #000080;
	cursor: pointer; /* Altera o cursor para uma mão apontando */
}

.blogin:hover {
    background-color: #E0E0E0; /* Altera a cor de fundo quando o mouse passa sobre o elemento */
}

.bcastastro{
	height: 30px;
	width: 70px;
	color: black;
	border-radius: 10%;
	text-align: center;
	background-color: white;
	border: 2px solid #000080;
	cursor: pointer; /* Altera o cursor para uma mão apontando */
}

.bcastastro:hover {
    background-color: #E0E0E0; /* Altera a cor de fundo quando o mouse passa sobre o elemento */
}

.conteiner{
	width: 100%;
	background:white;
	display: flex;
	justify-content: center;
}

.rodape{
	height: 15vh;
	background: white;
	position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape img{
	height: 50px;
	width: 50px;
}

.hide{
	visibility: hidden;
}

#user{
	color: white;
}