.conteiner2{
    font-family: 'Times New Roman', Times, serif;
	width: 100%;
	height: 90vh;
	background: white;
	display: flex;
	justify-content: center;
    text-align: center;
    margin: 0px;
}

.ctitulo{
    padding-top: 200px
}

.conteudo{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    align-items: center;
    width: 50%;
    text-align: left;
}

.conteudo2{
    background-color: white;
}

.fcadastro{
    align-self: left;
    position: relative;
}

.ncadastro{
	font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
}

.nlogin{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
}

.cnome, .csobrenome, .cemail, .cendereco, .csenha{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    margin-left: 25%;
}

.cnome{
    padding-right: 43px;
    margin-bottom: 50px;
}

.cendereco{
    padding-right: 23px;
}

.cemail{
    padding-right: 40px;
}

.csenha{
    padding-right: 44px;
}

#nome, #sobrenome, #email, #senha, #endereco ,#email2, #senha2{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    margin-left: 50px;
    margin-top: 50px;
}

.cenviar{
    margin-top: 50px;
    margin-left: 48%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
}
td{
    padding: 0px 0px 0px 0px;
}

.cinput{
    align-items: right;
    display: inline-block;
    width: 40%;
}
