.popup {
	width: 360px;
	background: gray;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%) scale(0.1);
	padding: 0 30px 30px;
	text-align: center;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
	color: black;
}

.abrir-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	background: #e6e6e6;
}

.popup a {
	text-decoration: none;
	border: none;
	color: black;
}

.popup a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

#bfechar {
	height: 28px;
	width: 30px;
	background-color: #e6e6e6;
	float: right;
	font-size: 19px;
	border: 0px;
	color: black;
	/* Altera o cursor para uma mão apontando */
	cursor: pointer;
}

#bentrar {
	float: center;
	border: 0px;
	color: black;
	font-size: 19px;
	background-color: #e6e6e6;
	cursor: pointer;
}

#bentrar:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

#erro {
	color: red;
	font-weight: bold;
	font-size: 22px;
}