.popup{
	width: 360px;
	background: gray;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	padding: 0 30px 30px;
	text-align: center;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
	color: white;
}

.abrir-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%,-50%) scale(1);
	z-index: 1;
	background: #1a1a1a;
}

.popup a{
	text-decoration: none; /* Remove a sublinhado (ou outra formatação de texto de link) */
  	border: none; /* Remove a borda */
	color: white;
}

#bfechar {
    height: 28px;
    width: 30px;
    background-color: #1a1a1a;
    float: right;
	font-size: 19px;
	border: 0px;
	color: white;
}

#bentrar{
	float: center;
	border: 0px;
	color: white;
	font-size: 19px;
	background-color: #1a1a1a;
}

#erro{
	color: red;
	font-weight: bold;
	font-size: 22px;
}