font{
	font-size: 27px;
	font-weight: bolder;
}

.conteiner table{
	width: 80%;
	height: 80%;
}

.conteiner td{
	width: 25%;
	padding: 10px;
}

.plano{
	width: 80%;
	text-align: left;
	font-size: 25px;
	color: black;
	vertical-align: top;
}

.compra{
	height: 40px;
	width: 100%;
	background-color: #0000e6;
	font-size: 24px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.compra:hover{
	text-decoration: underline;
	text-decoration-thickness: 2px;
}